<!DOCTYPE html> 
<!-- manifest="@Url.RouteUrl("cache.manifest")" -->
<html>
    <head> 
        <meta charset="utf-8" />

        <title>@ViewBag.Title - Mobile</title> 
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />  
        <link rel="apple-touch-icon-precomposed" href="~/Content/ipad/icon-big.png"/>  
        <link rel="apple-touch-startup-image" href="~/Content/ipad/splash-768-1004.png" />  
        <link rel="apple-touch-startup-image" href="~/Content/ipad/splash-1024-748.png" />  

        <link rel="stylesheet" href="~/Content/jquery.mobile-1.0b3.min.css" />
        <link rel="stylesheet" href="~/Content/mobile.css" />

        <script type="text/javascript" src="~/Scripts/jquery-1.6.4.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.mobile-1.0b3.js"></script>
        <script type="text/javascript" src="~/Scripts/knockout-2.0.0.js"></script>
        <script type="text/javascript" src="~/Scripts/underscore.js"></script>
        <script type="text/javascript" src="~/Scripts/App/CacheInit.js"></script>
        <script type="text/javascript" src="~/Scripts/ga.js"></script>

        <script type="text/javascript" src="~/Modes/Online.js"></script>
    </head> 
<body> 

    <div class="page" data-role="page" data-theme="a">
        <div data-role="header">
            @RenderSection("header", false)
            <h1>@ViewBag.Title</h1>
        </div>

        <div data-role="content">
            @RenderSection("featured", false)
            @RenderBody()		
        </div>

    </div>
    
    @RenderSection(name: "Scripts", required: false)

</body>
</html>